name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Setup FlakeHub cache
        uses: DeterminateSystems/flakehub-cache-action@v3

      - name: Run CI checks
        run: nix develop --command ./.github/scripts/ci.sh
